<mat-toolbar class="menu-bar mat-elevation-z1">
    <button mat-mini-fab color="primary" (click)="back()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div fxFlex></div>
    <h1>Edge Settings</h1>
    <div fxFlex></div>
</mat-toolbar>

<div fxFlexLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
        <div fxFlex="1 2 calc(15em + 20px)">
            <mat-expansion-panel [expanded]="!settings.gateway_id">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Connect with Cloud 
                        <span style="color: green; margin-left: 10px;" *ngIf="settings.gateway_id">OK</span>
                        <span style="color: gray; margin-left: 10px;" *ngIf="!settings.gateway_id">Click to Setup</span>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                
                <span *ngIf="settings.gateway_id">Edge/Gateway is configured with ID <b>{{settings.gateway_id}}</b></span>
                <span *ngIf="!settings.gateway_id">Edge API configuration</span>

                <form [formGroup]="settingsForm">
                    <p>
                        <mat-error *ngIf="errorMessage">
                            {{errorMessage}}
                        </mat-error>
                    </p>
                    <p>
                        <mat-form-field appearance="fill" fxFlex="100%">
                            <mat-label>Edge API Key</mat-label>
                            <input matInput formControlName="edge_key" value="{{settings.edge_key}}">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="fill" fxFlex="100%">
                            <mat-label>Edge API Secret</mat-label>
                            <input matInput [type]="showEdgeKey ? 'text' : 'password'" formControlName="edge_secret" value="{{settings.edge_secret}}">
                            <button mat-button matSuffix mat-icon-button (click)="showEdgeKey = !showEdgeKey">
                                <mat-icon>visibility</mat-icon>
                              </button>
                        </mat-form-field>
                    </p>
                    <div>
                        <button mat-flat-button color="primary" (click)="onSubmit()">Update</button>&nbsp;
                    </div>
                </form>

                <p style="margin-top: 100px;">Register at <a href="https://chryscloud.com" target="_blank">Chrysalis Developer Portal</a> to get the Edge Key</p>

            </mat-expansion-panel>
        </div>
</div>
